@media screen and (max-width:1200px) {

    :root {
        --primary-color: #F2F2F2;
        --secondary-color: #1BBC9B;
        --side-color: #434A54;

    }

    .hero_banner {
        grid-template-columns: repeat(2, 1fr);

    }

    .content {
        grid-column: 1/span 2;
        text-align: center;
    }

    .parallex_1>.img,
    .parallex_2>.img {
        position: relative;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        background-position: bottom;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        top: 0;
        bottom: 0;
        width: 93%;
        height: 100%;

    }


    .parallex_1,
    .parallex_2 {

        justify-items: center;
        background-size: contain;
    }

    .category_sec {
        flex-direction: column;
        height: 50vh;
        gap: 1rem;

    }

    .brand {
        width: 95%;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .conthead {
        font-size: smaller;
    }


    .hot_Products {
        flex-direction: column;
        width: 100%;
        height: 100%;

    }

    .main_hot_product_Wrapper {
        height: 100%;
        overflow: visible;


    }

    .choose_your_trip {
        height: 100dvh;

        & p {
            text-align: center;
            width: 90%;
            color: #555;
          }

        & .search_bar {
            display: flex;
            width: 90%;
            height: 70dvh;
            flex-direction: column;
            gap: 0;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0 3rem;

            & .select_section {
                margin: 0;
                width: 100%;
                height: 100%;
                border: 0;
                padding: 1.2rem 3%;
            }

            & h3{
                font-size: 1rem;

            }

        }

        &.searchhead {

            & input,
            select {
                outline: none;
                border: none;
                text-align: left;

            }
        }
    }

    .icon {
        width: 0%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
  
        & i {
          color: #F3A46B;
          font-size: .4rem;
        }}
}



@media screen and (max-width:780px) {
    .hero_banner {
        grid-template-rows: repeat(3, 1fr);
        /* grid-template-columns: repeat(1 ,1fr); */

    }

    .content,
    .parallex_1,
    .parallex_2 {
        grid-column: 1 /span 2;
        align-items: center;
        justify-items: center;
        text-align: center;

        & h1 {
            font-size: 2.5rem;
            margin: 3%;

        }
    }


    .parallex_1>.img,
    .parallex_2>.img {
        position: relative;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        background-position: bottom;

        top: 0;
        bottom: 0;
        width: 93%;
        height: 95%;
    }

    .content,
    .parallex_1,
    .parallex_2 {

        justify-items: center;
        background-size: contain;
    }

    .dream_vac {
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--primary-color);
            opacity: .3;
            z-index: 1;
        }
    }
}