@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  height: 100%;
  overflow-x: hidden;
  background: var(--primary-color);
}

:root {
  --primary-color: #F2F2F2;
  --secondary-color: #1BBC9B;
  --side-color: #434A54;

}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cecece;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  /* height: 15vh; */
  background-color: var(--primary-color);
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

.styler_text {
  font-family: "Reenie Beanie";
  color: var(--secondary-color);
}



/* Main Hero Banner */

.Wrapper {
  width: 100%;
  height: 115vh;
  /* background-color: var(--side-color); */

}

.hero_banner {
  width: 100%;
  height: 100vh;
  background: url('public/hero_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  position: relative;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--primary-color);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;

  }


}


.content,
.parallex_1,
.parallex_2 {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  position: relative;

  & h1 {
    font-size: 4rem;
    margin-left: 4%;
    z-index: 2;

    & span {
      width: 100%;
      position: relative;
      height: 100%;

      &::after {
        content: '';
        width: 100%;
        height: 15%;
        position: absolute;
        background-color: #FFD205;
        bottom: 20%;
        z-index: 1;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.parallex_1 {

  justify-items: end;
}

.parallex_2 {

  justify-items: center;
}

.parallex_1>.img {
  width: 70%;
  position: absolute;
  height: 95%;
  background-image: url("public/heroparallex1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  top: 0;
}

.parallex_2>.img {
  width: 70%;
  position: absolute;
  height: 95%;
  background-image: url("public/heroparallex2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  top: 19%;
}

/* Main Hero Banner */


/* Tag Testimonial */
.dream_vac {
  background: url("public/hero_banner.png");
  background-size: 65% 200%;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: right;
}

.tagline {
  font-family: "Reenie Beanie";
  font-size: 2.5rem;
  color: var(--secondary-color);
  font-weight: 400;
}

.more_info_btn {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.more_info_btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  scale: 1.1;
}



.category_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  height: 20vh;

}

.brand {
  width: 100%;
  /* height: 70%; */
  background: #000;
  /* opacity: 0.1; */
  margin: 0 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  position: relative;
  -o-border-radius: 1rem;
  color: white;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000021;
  }


  & .img {
    width: 30%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .content {
    width: 70%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;

    & h3 {
      font-size: 1.5rem !important;
    }
  }
}

.brand1 {
  background-image: url("public/Assets/category1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand2 {
  background-image: url("public/Assets/category2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand3 {
  background-image: url("public/Assets/category3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOT PRODUCTS */


.hot_Products {
  margin-top: 3.3rem;
  /* overflow: hidden !important; */
  width: 100%;
  height: 100dvh;
  gap: 3%;
  display: flex;
  /* grid-template-columns: repeat(3,1fr); */
}


.main_hot_product_Wrapper {
  overflow: hidden;
  width: 100%;
  height: 91%;
  filter: drop-shadow(8px 12px 16px #0000003a);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: white !important;
  -webkit-filter: drop-shadow(8px 12px 16px #0000003a);
}

.hot_prod_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    font-size: 1rem;
    font-weight: 600;
    width: 6rem;
    height: 2.3rem;
    border-radius: 0.4rem;
    color: var(--primary-color);
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
  }
}

.icon_span>i {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--secondary-color);
}



.hot_prod_price {
  text-align: right;

  & h5 {
    font-size: 1rem;
    opacity: 0.8;
  }

  & h3 {
    font-weight: 600;

  }
}



.choose_your_trip {
  width: 100%;
  height: 80dvh;
  background-color: #dfdede;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;



  & p {
    width: 60%;

    text-align: center;
    color: #555;
  }
}


.search_bar {
  background-color: white;
  height: 15dvh;
  border-radius: 1.5rem;
  width: 95%;
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr; */
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  padding: 0 2rem;

  & .select_section {
    border-right: 1px solid rgba(211, 211, 211, 0.473);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3%;
    width: 100%;

    &:nth-child(4) {
      border: 0;
    }

    & .icon {
      width: 20%;
      height: 100%;
      display: grid;
      align-items: center;
      justify-items: center;

      & i {
        color: #F3A46B;
        font-size: 2rem;
      }

    }

    & button {
      width: 100%;
      height: 3rem;
      border-radius: .5rem;
      color: white;
      font-size: 1.2rem;
      background-color: #F76570;
      outline: 0;
      border: 0;
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      -ms-border-radius: .5rem;
      -o-border-radius: .5rem;
    }

  }


  & .searchhead {
    width: 100%;
    height: 80%;

    & h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    & input,
    select {
      outline: none;
      border: none;
      text-align: left;
    }
  }


}



.next_adventure{
  height: 100dvh;
  width: 100%;
  margin-top: 2rem;
  padding: 2%;
}

.adv_img{
  height: 60%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.img_div{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  & img{
    
  }
}